<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <hr/>
  <h3>Team Ratings</h3>
  <div>
    <fieldset>
    <%= f.fields_for :team_ratings do |builder| %>
      <field>
        <%= builder.collection_select(:team_id, Team.all, :id, :name) %>
        <%= builder.number_field :rating %>
      </field>
      <br/>
    <% end %>
    </fieldset>
  </div>
  <hr>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
