
  <table class="table table-striped table-bordered table-hover">
  	<thead>
      <tr>
        <th>Person</th>
        <% @games.each do |game| %>
        <th><%= game.label %>
          <% if game.winner %>
          <em> (<%= game.winner.name %>)</em>
          <% end -%>
          </th>
        <% end -%>
        <th>Totals</th>
      </tr>
    </thead>
    <tbody>
      <% @people.each do |person| %>
      <tr>
        <td><%= person.name %></td>

        <% @games.each do |game| %>
        <td><%= person.points_for_game(game) %></td>
        <% end -%>
        <td><%= person.total_points ||= 0 %></td>
      </tr>
      <% end -%>
    </tbody>
  </table>
