<p id="notice"><%= notice %></p>

<p>
  <b>Team:</b>
  <%= @team_game.team %>
</p>

<p>
  <b>Game:</b>
  <%= @team_game.game %>
</p>

<p>
  <b>Score:</b>
  <%= @team_game.score %>
</p>


<%= link_to 'Edit', edit_team_game_path(@team_game) %> |
<%= link_to 'Back', team_games_path %>
