<%= form_for(@team_rating) do |f| %>
  <% if @team_rating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team_rating.errors.count, "error") %> prohibited this team_rating from being saved:</h2>

      <ul>
      <% @team_rating.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :person %><br />
    <%= f.text_field :person %>
  </div>
  <div class="field">
    <%= f.label :team %><br />
    <%= f.text_field :team %>
  </div>
  <div class="field">
    <%= f.label :rating %><br />
    <%= f.text_field :rating %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
