<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :label %><br />
    <%= f.text_field :label %>
  </div>
  <div class="field">
    <%= f.label :start %><br />
    <%= f.datetime_select :start %>
  </div>
  <div class="field">
    <%= f.label "Next Game" %>
    <%= collection_select(:game, :next_game_id, @all_games, :id, :label, {:include_blank => 'None'}) %>
  </div>

  <hr/>
  <%= f.fields_for :team_games do |builder| %>
    <div>
      <fieldset>
        <%= builder.collection_select(:team_id, Team.all, :id, :name, {:include_blank => 'None'}) %><br/>
        <%= builder.label :score, "Score:" %>
        <%= builder.number_field :score %>
      </fieldset>
    </div>
  <% end %>
  <hr>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
