<h1>Listing games</h1>

<table class="table table-bordered, table-striped">
  <tr>
    <th>Label</th>
    <th>Start</th>
    <th>Next game</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td><%= game.label %></td>
    <td><%= game.start %></td>
    <td><%= game.next_game.label unless game.next_game.nil? %></td>
    <td><%= link_to 'Show', game %></td>
    <td><%= link_to 'Edit', edit_game_path(game) %></td>
    <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Game', new_game_path %>
