<p id="notice"><%= notice %></p>

<p>
  <b>Label:</b>
  <%= @game.label %>
</p>

<p>
  <b>Start:</b>
  <%= @game.start %>
</p>

<p>
  <b>Next game:</b>
  <%= @game.next_game.label unless @game.next_game.nil? %>
</p>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
